.first-carousel .carousel-control-prev,
.first-carousel .carousel-control-next {
  background-color: rgba(255, 0, 0, 0);
  border-radius: 50%;
  width: 80px;
  height: 100px;
  filter: invert(100%);
  margin-left: 802px ;
  margin-top: 306px;
  margin-right: 330px;
  opacity: 0;
}
.second-carousel .carousel-control-prev,
.second-carousel .carousel-control-next {
  background-color: rgba(0, 0, 255, 0);
  height: 80px;
  width: 80px;
  opacity: 0;
  border-radius: 0;
  height: 100px;
  margin-left: 350px ;
  margin-top: 620px;
  margin-right: 331px;
  filter: invert(100%);
}